body {
    margin-right: 12px;
    margin-left: 12px;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: none;
    color: red;
}
img {
    border:5px solid blue;
}

.rounded-circle {
    border-radius: 50%;
}

.box {
    border:2px solid #ddd;
    border-radius: 12px;
    padding: 0 12px 0 12px;
    margin-top: 12px;
    background-color: lavender;
}
.box title {
    color:blue;
}

/* navbar */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}